# Uso de bases de datos con Python

## MySQL

MySQL es un sistema de gestión de bases de datos relacionales (RDBMS, por sus siglas en inglés) de código abierto. 

Es uno de los sistemas de gestión de bases de datos más populares en el mundo, especialmente en aplicaciones web y en la creación de sitios web dinámicos. MySQL permite almacenar, organizar y recuperar grandes cantidades de información en una base de datos, utilizando lenguaje SQL (Structured Query Language) para interactuar con la base de datos.

### Python y MySQL

Para conectarnos a la BBDD usaremos MySQL Connector. MySQL Connector/Python es un driver de software que proporciona una interfaz para conectarse a una base de datos MySQL desde Python. 

Este conector es un módulo de Python que se utiliza para conectarse a una base de datos MySQL y realizar operaciones en ella. Proporciona una interfaz de programación de aplicaciones (API) para interactuar con MySQL, permitiendo a los programas de Python enviar comandos SQL a una base de datos MySQL y recibir resultados.


#### Instalación

Para utilizar BeautifulSoup, necesitaremos su biblioteca llamada beautifulsoup4. Para instalarla podemos ejecutar esta línea

`$ pip install mysql-connector-python`

Si aparece un error, podríamos ejecutar

`$ pip install --trusted-host pypi.org --trusted-host files.pythonhosted.org mysql-connector-python`

o bien:

`$ pip install --user --trusted-host pypi.org --trusted-host files.pythonhosted.org mysql-connector-python`

Para testear, vamos a crearnos una cuenta en https://www.freemysqlhosting.net/account/ o https://freedb.tech/ y creamos un BBDD.

In [27]:
import mysql.connector

# Crea una conexión al servidor MySQL
cnx = mysql.connector.connect(user='freedb_sqlexampleuser', password='4NwkY%XmQz86ZZ#', host='sql.freedb.tech', database='freedb_sqlexampledb')

# Crea un cursor para ejecutar consultas
cursor = cnx.cursor()

### CREATE

La sentencia CREATE TABLE en SQL se utiliza para crear una nueva tabla en una base de datos. La sintaxis básica es la siguiente:

```sql
CREATE TABLE nombre_de_la_tabla (
    columna_1 tipo_de_dato,
    columna_2 tipo_de_dato,
    ...
    columna_n tipo_de_dato
);
```

Donde **nombre_de_la_tabla** es el nombre que se le dará a la nueva tabla, **columna_1, columna_2, etc.,** son los nombres de las columnas que se crearán en la tabla, y tipo_de_dato es el tipo de datos que se almacenará en cada columna.

Por ejemplo, si quisiéramos crear una tabla llamada empleados con las columnas id (entero), nombre (cadena de caracteres), edad (entero) y salario (flotante), la sentencia SQL sería la siguiente:


```sql
CREATE TABLE empleados (
    id INT,
    nombre VARCHAR(255),
    edad INT,
    salario FLOAT
);
```
Por ejemplo, podemos utilizar el siguiente código para crear la tabla empleados en una base de datos llamada mi_base_de_datos:

In [ ]:
cursor.execute("CREATE TABLE empleados (id INT, nombre VARCHAR(255), edad INT, salario FLOAT)")

## SHOW y DESC

La sentencia SHOW en SQL se utiliza para mostrar información sobre la base de datos o las tablas. La sintaxis básica para mostrar todas las tablas en una base de datos es la siguiente:

```sql
SHOW TABLES;
```

Esto mostrará una lista de todas las tablas en la base de datos actual. Si queremos ver la estructura de una tabla específica, podemos usar la sentencia DESCRIBE o DESC:

```sql
DESCRIBE nombre_de_la_tabla;
```

Por ejemplo, vamos a ver la tabla añadida anteriormente:

In [18]:
cursor.execute("SHOW TABLES")
for tabla in cursor:
  print(tabla)

cursor.execute("DESCRIBE empleados")
for columna in cursor:
  print(columna)

('empleados',)
('id', 'int', 'YES', '', None, '')
('nombre', 'varchar(255)', 'YES', '', None, '')
('edad', 'int', 'YES', '', None, '')
('salario', 'float', 'YES', '', None, '')

## INSERT INTO

La sentencia INSERT INTO en SQL se utiliza para insertar nuevos registros en una tabla existente. La sintaxis básica es la siguiente:

```sql
INSERT INTO nombre_de_la_tabla (columna_1, columna_2, ..., columna_n) 
VALUES (valor_1, valor_2, ..., valor_n);
```
Donde **nombre_de_la_tabla** es el nombre de la tabla, **columna_1, columna_2, etc.** son los nombres de las columnas en las que se insertarán los valores, y **valor_1, valor_2, etc.** son los valores que se insertarán en cada columna.

Además utilizamos la función commit() para guardar los cambios en la base de datos y cerramos

Por ejemplo, vamos a añadir unos empleados a la dabe de datos:

In [28]:
cursor.execute("INSERT INTO empleados (id, nombre, edad, salario) VALUES (1, 'Juan', 25, 2500.0)")
cursor.execute("INSERT INTO empleados (id, nombre, edad, salario) VALUES (2, 'María', 30, 3000.0)")
cursor.execute("INSERT INTO empleados (id, nombre, edad, salario) VALUES (3, 'Pedro', 40, 4000.0)")

cnx.commit()

## Select

La sentencia SELECT en SQL es una de las más utilizadas, y se utiliza para recuperar datos de una o varias tablas en una base de datos. Hay diferentes formas de utilizar la sentencia SELECT, pero a continuación te explicaré dos de las más comunes: SELECT * y SELECT con WHERE.

SELECT *: La sintaxis básica para utilizar SELECT * es la siguiente:

```sql
SELECT columna_1, columna_2, ... FROM nombre_de_la_tabla WHERE condicion;
```
Esta sentencia devuelve todas las columnas y todos los registros de la tabla **nombre_de_la_tabla**. Es importante tener en cuenta que **SELECT *** puede ser muy útil para recuperar todos los datos de una tabla, pero también puede ser ineficiente si la tabla tiene muchas columnas o registros.

SELECT con WHERE: La sintaxis básica para utilizar SELECT con WHERE es la siguiente:

```sql
SELECT columna_1, columna_2, ... FROM nombre_de_la_tabla WHERE condicion;
```

Esta sentencia devuelve las columnas especificadas en **columna_1, columna_2, etc.** y los registros que cumplen con la condicion especificada. 
La condicion es una expresión booleana que se utiliza para filtrar los registros. Por ejemplo, si queremos seleccionar todos los trabajadores con un salario mayor a 3000, podemos utilizar la siguiente sentencia:

```sql
SELECT * FROM empleados WHERE salario > 3000;
```

Esto devolverá todos los registros de la tabla **empleados** donde el valor de la columna **salario** es mayor a 3000.

Vamos a ver unos ejemplos en Python:

In [30]:
# Seleccionar todas las columnas y registros de la tabla empleados
print("Ejemplo 1")
cursor.execute("SELECT * FROM empleados")
resultados = cursor.fetchall()
for registro in resultados:
  print(registro)

# Seleccionar las columnas id y nombre de la tabla empleados
print("Ejemplo 2")
cursor.execute("SELECT id, nombre FROM empleados")
resultados = cursor.fetchall()
for registro in resultados:
  print(registro)

# Seleccionar los registros de la tabla empleados con un salario mayor a 3000
print("Ejemplo 3")
cursor.execute("SELECT * FROM empleados WHERE salario > 3000")
resultados = cursor.fetchall()
for registro in resultados:
  print(registro)

Ejemplo 1
(1, 'Juan', 25, 2500.0)
(2, 'María', 30, 3000.0)
(3, 'Pedro', 40, 4000.0)
Ejemplo 2
(1, 'Juan')
(2, 'María')
(3, 'Pedro')
Ejemplo 3
(3, 'Pedro', 40, 4000.0)

## Update

La sentencia UPDATE en SQL se utiliza para modificar los datos existentes en una tabla. Es una sentencia muy útil para actualizar los valores de una columna en una tabla, ya sea para corregir errores o para actualizar información. La sintaxis básica de la sentencia UPDATE es la siguiente:

```sql
UPDATE nombre_de_la_tabla SET columna_1 = valor_1, columna_2 = valor_2, ... WHERE condicion;
```

Por ejemplo, supongamos que queremos actualizar el salario de un trabajador con id igual a 1 en la tabla empleados. Podemos utilizar la siguiente sentencia:

```sql
UPDATE empleados SET salario = 4000 WHERE id = 1;
```

Esta sentencia actualizará el valor de la columna salario en la tabla empleados a 4000 para el trabajador con id igual a 1.

Es importante tener en cuenta que la sentencia UPDATE puede afectar a muchos registros en una tabla si no se utiliza una condición adecuada. Por lo tanto, es importante asegurarse de que la condición utilizada en la sentencia UPDATE sea lo suficientemente específica para actualizar solo los registros que deseamos modificar.

In [ ]:
cursor.execute("UPDATE empleados SET salario = 4000 WHERE id = 1")
cnx.commit()

In [11]:

# Ejecuta una consulta CREATE
cursor.execute("CREATE TABLE alumnos (name VARCHAR(255), age VARCHAR(255))")

# Mostramos las tablas
cursor.execute("SHOW TABLES")

# Imprime los resultados de la consulta
for x in cursor:
  print(x)

# Borramos la tabla
cursor.execute("DROP TABLE alumnos")

# Mostramos las tablas
cursor.execute("SHOW TABLES")

# Imprime los resultados de la consulta
for x in cursor:
  print(x)

# Cierra la conexión
cnx.close()

InternalError: Unread result found