# Uso de bases de datos con Python

## MySQL

MySQL es un sistema de gestión de bases de datos relacionales (RDBMS, por sus siglas en inglés) de código abierto. 

Es uno de los sistemas de gestión de bases de datos más populares en el mundo, especialmente en aplicaciones web y en la creación de sitios web dinámicos. MySQL permite almacenar, organizar y recuperar grandes cantidades de información en una base de datos, utilizando lenguaje SQL (Structured Query Language) para interactuar con la base de datos.

### Python y MySQL

Para conectarnos a la BBDD usaremos MySQL Connector. MySQL Connector es un driver de software que proporciona una interfaz para conectarse a una base de datos MySQL desde Python. 

Este conector es un módulo que se utiliza para conectarse a una base de datos MySQL y realizar operaciones en ella. Proporciona una interfaz de programación de aplicaciones (API) para interactuar con MySQL, permitiendo a los programas de Python enviar comandos SQL a una base de datos MySQL y recibir resultados.


#### Instalación

Para utilizar mysql en Python, necesitaremos su biblioteca llamada mysql-connector-python. Para instalarla podemos ejecutar esta línea

`$ pip install mysql-connector-python`

Si aparece un error, podríamos ejecutar

`$ pip install --trusted-host pypi.org --trusted-host files.pythonhosted.org mysql-connector-python`

o bien:

`$ pip install --user --trusted-host pypi.org --trusted-host files.pythonhosted.org mysql-connector-python`

Para testear, vamos a crearnos una cuenta en https://www.freemysqlhosting.net/account/ o https://freedb.tech/ y creamos un BBDD.

In [1]:
import mysql.connector

# Crea una conexión al servidor MySQL
cnx = mysql.connector.connect(user='freedb_sqlexampleuser', password='4NwkY%XmQz86ZZ#', host='sql.freedb.tech', database='freedb_sqlexampledb')

# Crea un cursor para ejecutar consultas
cursor = cnx.cursor()

## Clausulas SQL

En SQL, las cláusulas son instrucciones que se utilizan para definir ciertas características de una consulta, tales como las condiciones de filtrado, la agrupación de los resultados, el ordenamiento de los datos, entre otras. Las cláusulas permiten a los usuarios obtener información más precisa y específica de los datos almacenados en una base de datos. Son fundamentales para construir consultas complejas que permitan obtener información precisa y relevante a partir de grandes cantidades de datos.

Cada cláusula tiene una función específica y se utiliza de manera combinada para construir una consulta que cumpla con los requisitos de la información que se desea obtener.

Es importante tener en cuenta que no todas las cláusulas son necesarias en todas las consultas SQL. La selección de las cláusulas adecuadas dependerá de las necesidades específicas de cada consulta y de la información que se desee obtener de la base de datos.

### CREATE

La clausula CREATE TABLE en SQL se utiliza para crear una nueva tabla en una base de datos. La sintaxis básica es la siguiente:

```sql
CREATE TABLE nombre_de_la_tabla (
    columna_1 tipo_de_dato,
    columna_2 tipo_de_dato,
    ...
    columna_n tipo_de_dato
);
```

Donde **nombre_de_la_tabla** es el nombre que se le dará a la nueva tabla, **columna_1, columna_2, etc.,** son los nombres de las columnas que se crearán en la tabla, y tipo_de_dato es el tipo de datos que se almacenará en cada columna.

Por ejemplo, si quisiéramos crear una tabla llamada empleados con las columnas id (entero), nombre (cadena de caracteres), edad (entero) y salario (flotante), la clausula SQL sería la siguiente:


```sql
CREATE TABLE empleados (
    id INT,
    nombre VARCHAR(255),
    edad INT,
    salario FLOAT
);
```
Por ejemplo, podemos utilizar el siguiente código para crear la tabla empleados en una base de datos llamada mi_base_de_datos:

In [4]:
# Crea una conexión al servidor MySQL
cnx = mysql.connector.connect(user='freedb_sqlexampleuser', password='4NwkY%XmQz86ZZ#', host='sql.freedb.tech', database='freedb_sqlexampledb')

# Crea un cursor para ejecutar consultas
cursor = cnx.cursor()

cursor.execute("CREATE TABLE empleados (id INT, nombre VARCHAR(255), edad INT, salario FLOAT)")

### SHOW y DESC

La clausula SHOW en SQL se utiliza para mostrar información sobre la base de datos o las tablas. La sintaxis básica para mostrar todas las tablas en una base de datos es la siguiente:

```sql
SHOW TABLES;
```

Esto mostrará una lista de todas las tablas en la base de datos actual. Si queremos ver la estructura de una tabla específica, podemos usar la clausula DESCRIBE o DESC:

```sql
DESCRIBE nombre_de_la_tabla;
```

Por ejemplo, vamos a ver la tabla añadida anteriormente:

In [5]:
# Crea una conexión al servidor MySQL
cnx = mysql.connector.connect(user='freedb_sqlexampleuser', password='4NwkY%XmQz86ZZ#', host='sql.freedb.tech', database='freedb_sqlexampledb')

# Crea un cursor para ejecutar consultas
cursor = cnx.cursor()

cursor.execute("SHOW TABLES")
for tabla in cursor:
  print(tabla)

cursor.execute("DESCRIBE empleados")
for columna in cursor:
  print(columna)

('empleados',)
('id', 'int', 'YES', '', None, '')
('nombre', 'varchar(255)', 'YES', '', None, '')
('edad', 'int', 'YES', '', None, '')
('salario', 'float', 'YES', '', None, '')

### INSERT INTO

La clausula INSERT INTO en SQL se utiliza para insertar nuevos registros en una tabla existente. La sintaxis básica es la siguiente:

```sql
INSERT INTO nombre_de_la_tabla (columna_1, columna_2, ..., columna_n) 
VALUES (valor_1, valor_2, ..., valor_n);
```
Donde **nombre_de_la_tabla** es el nombre de la tabla, **columna_1, columna_2, etc.** son los nombres de las columnas en las que se insertarán los valores, y **valor_1, valor_2, etc.** son los valores que se insertarán en cada columna.

Además utilizamos la función commit() para guardar los cambios en la base de datos y cerramos

Por ejemplo, vamos a añadir unos empleados a la dabe de datos:

In [6]:
# Crea una conexión al servidor MySQL
cnx = mysql.connector.connect(user='freedb_sqlexampleuser', password='4NwkY%XmQz86ZZ#', host='sql.freedb.tech', database='freedb_sqlexampledb')

# Crea un cursor para ejecutar consultas
cursor = cnx.cursor()

cursor.execute("INSERT INTO empleados (id, nombre, edad, salario) VALUES (1, 'Juan', 25, 2500.0)")
cursor.execute("INSERT INTO empleados (id, nombre, edad, salario) VALUES (2, 'María', 30, 3000.0)")
cursor.execute("INSERT INTO empleados (id, nombre, edad, salario) VALUES (3, 'Pedro', 40, 4000.0)")

cnx.commit()

### SELECT

La clausula SELECT en SQL es una de las más utilizadas, y se utiliza para recuperar datos de una o varias tablas en una base de datos. Hay diferentes formas de utilizar la clausula SELECT, pero a continuación te explicaré dos de las más comunes: SELECT * y SELECT con WHERE.

SELECT : La sintaxis básica para utilizar SELECT es la siguiente:

```sql
SELECT * FROM nombre_de_la_tabla;
```

Esta clausula devuelve todas las columnas y todos los registros de la tabla **nombre_de_la_tabla**. Es importante tener en cuenta que **SELECT&nbsp;*&nbsp;** puede ser muy útil para recuperar todos los datos de una tabla, pero también puede ser ineficiente si la tabla tiene muchas columnas o registros.

SELECT con WHERE: La sintaxis básica para utilizar SELECT con WHERE es la siguiente:

```sql
SELECT columna_1, columna_2, ... FROM nombre_de_la_tabla WHERE condicion;
```

Esta clausula devuelve las columnas especificadas en **columna_1, columna_2, etc.** y los registros que cumplen con la condicion especificada. 
La condicion es una expresión booleana que se utiliza para filtrar los registros. Por ejemplo, si queremos seleccionar todos los trabajadores con un salario mayor a 3000, podemos utilizar la siguiente sentencia:

```sql
SELECT * FROM empleados WHERE salario > 3000;
```

Esto devolverá todos los registros de la tabla **empleados** donde el valor de la columna **salario** es mayor a 3000.

Vamos a ver unos ejemplos en Python:

In [7]:
# Crea una conexión al servidor MySQL
cnx = mysql.connector.connect(user='freedb_sqlexampleuser', password='4NwkY%XmQz86ZZ#', host='sql.freedb.tech', database='freedb_sqlexampledb')

# Crea un cursor para ejecutar consultas
cursor = cnx.cursor()

# Seleccionar todas las columnas y registros de la tabla empleados
print("Ejemplo 1")
cursor.execute("SELECT * FROM empleados")
resultados = cursor.fetchall()
for registro in resultados:
  print(registro)

# Seleccionar las columnas id y nombre de la tabla empleados
print("Ejemplo 2")
cursor.execute("SELECT id, nombre FROM empleados")
resultados = cursor.fetchall()
for registro in resultados:
  print(registro)

# Seleccionar los registros de la tabla empleados con un salario mayor a 3000
print("Ejemplo 3")
cursor.execute("SELECT * FROM empleados WHERE salario > 3000")
resultados = cursor.fetchall()
for registro in resultados:
  print(registro)

Ejemplo 1
(1, 'Juan', 25, 2500.0)
(2, 'María', 30, 3000.0)
(3, 'Pedro', 40, 4000.0)
Ejemplo 2
(1, 'Juan')
(2, 'María')
(3, 'Pedro')
Ejemplo 3
(3, 'Pedro', 40, 4000.0)

### UPDATE

La clausula UPDATE en SQL se utiliza para modificar los datos existentes en una tabla. Es una clausula muy útil para actualizar los valores de una columna en una tabla, ya sea para corregir errores o para actualizar información. La sintaxis básica de la clausula UPDATE es la siguiente:

```sql
UPDATE nombre_de_la_tabla SET columna_1 = valor_1, columna_2 = valor_2, ... WHERE condicion;
```

Por ejemplo, supongamos que queremos actualizar el salario de un trabajador con id igual a 1 en la tabla empleados. Podemos utilizar la siguiente sentencia:

```sql
UPDATE empleados SET salario = 4000 WHERE id = 1;
```

Esta sentencia actualizará el valor de la columna salario en la tabla empleados a 4000 para el trabajador con id igual a 1.

Es importante tener en cuenta que la clausula UPDATE puede afectar a muchos registros en una tabla si no se utiliza una condición adecuada. Por lo tanto, es importante asegurarse de que la condición utilizada en la clausula UPDATE sea lo suficientemente específica para actualizar solo los registros que deseamos modificar.

In [8]:
# Crea una conexión al servidor MySQL
cnx = mysql.connector.connect(user='freedb_sqlexampleuser', password='4NwkY%XmQz86ZZ#', host='sql.freedb.tech', database='freedb_sqlexampledb')

# Crea un cursor para ejecutar consultas
cursor = cnx.cursor()

cursor.execute("UPDATE empleados SET salario = 4000 WHERE id = 1")
cnx.commit()

Podemos comprobar que el salario ha cambiado

In [9]:
# Crea una conexión al servidor MySQL
cnx = mysql.connector.connect(user='freedb_sqlexampleuser', password='4NwkY%XmQz86ZZ#', host='sql.freedb.tech', database='freedb_sqlexampledb')

# Crea un cursor para ejecutar consultas
cursor = cnx.cursor()

# Seleccionar todas las columnas y registros de la tabla empleados
cursor.execute("SELECT * FROM empleados WHERE id = 1")
resultados = cursor.fetchall()
for registro in resultados:
  print(registro)

(1, 'Juan', 25, 4000.0)

### DELETE
La clausula DELETE en SQL se utiliza para eliminar uno o varios registros de una tabla. Es una clausula poderosa que debe usarse con precaución, ya que eliminar registros de una tabla puede tener consecuencias no deseadas. La sintaxis básica de la clausula DELETE es la siguiente:

```sql
DELETE FROM nombre_de_la_tabla WHERE condicion;
```

Por ejemplo, supongamos que queremos eliminar todos los registros de la tabla empleados donde el salario es menor que 2000. Podemos utilizar la siguiente sentencia:

```sql
DELETE FROM empleados WHERE salario < 2000;
```

Esta sentencia eliminará todos los registros de la tabla empleados donde el salario es menor que 2000.

Es muy importante utilizar una condición en la clausula DELETE para asegurarse de que solo se eliminan los registros que deseamos. Si no se especifica una condición, se eliminarán todos los registros de la tabla, lo que puede tener consecuencias graves. Por lo tanto, es crucial utilizar una condición adecuada en la clausula DELETE.

RECUERDA:

[![Blinking LEDs](https://lookbillboards.com/wp-content/uploads/2017/01/Learn-Click-300x164.png)](https://youtu.be/i_cVJgIz_Cs?t=60 "RECUERDA")

In [12]:
# Crea una conexión al servidor MySQL
cnx = mysql.connector.connect(user='freedb_sqlexampleuser', password='4NwkY%XmQz86ZZ#', host='sql.freedb.tech', database='freedb_sqlexampledb')

# Crea un cursor para ejecutar consultas
cursor = cnx.cursor()

cursor.execute("DELETE FROM empleados WHERE id = 1")
cnx.commit()

Podemos comprobar los cambios

In [13]:
# Crea una conexión al servidor MySQL
cnx = mysql.connector.connect(user='freedb_sqlexampleuser', password='4NwkY%XmQz86ZZ#', host='sql.freedb.tech', database='freedb_sqlexampledb')

# Crea un cursor para ejecutar consultas
cursor = cnx.cursor()

# Seleccionar todas las columnas y registros de la tabla empleados
cursor.execute("SELECT * FROM empleados")
resultados = cursor.fetchall()
for registro in resultados:
  print(registro)

(2, 'María', 30, 3000.0)
(3, 'Pedro', 40, 4000.0)

### DROP

La clausula DROP en SQL se utiliza para eliminar una tabla o una base de datos completa. Es una clausula muy poderosa que debe usarse con precaución, ya que eliminar una tabla o una base de datos puede tener consecuencias graves e irreversibles. La sintaxis básica de la sentencia DROP es la siguiente:

```sql
DROP TABLE nombre_de_la_tabla;
```

Por ejemplo, supongamos que queremos eliminar la tabla empleados de nuestra base de datos. Podemos utilizar la siguiente sentencia:

```sql
DROP TABLE empleados;
```

Esta sentencia eliminará completamente la tabla empleados de nuestra base de datos.

También es posible utilizar la sentencia DROP para eliminar una base de datos completa. La sintaxis de la sentencia DROP para eliminar una base de datos completa es la siguiente:

```sql
DROP DATABASE nombre_de_la_base_de_datos;
```

Es muy importante utilizar la sentencia DROP con precaución, ya que no hay forma de recuperar los datos que se eliminan. Antes de utilizar la sentencia DROP, asegúrate de haber hecho una copia de seguridad de tus datos y de estar completamente seguro de que deseas eliminar la tabla o la base de datos completa.

In [16]:
# Crea una conexión al servidor MySQL
cnx = mysql.connector.connect(user='freedb_sqlexampleuser', password='4NwkY%XmQz86ZZ#', host='sql.freedb.tech', database='freedb_sqlexampledb')

# Crea un cursor para ejecutar consultas
cursor = cnx.cursor()

cursor.execute("DROP TABLE empleados")
cursor.execute("DROP TABLE proyectos")
cnx.commit()

### ORDER BY

La cláusula ORDER BY en SQL se utiliza para ordenar los resultados de una consulta por uno o más campos. Es una cláusula muy útil que puede utilizarse para presentar los datos en un orden lógico. La sintaxis básica de la cláusula ORDER BY es la siguiente:

```sql
SELECT columna_1, columna_2, ... FROM nombre_de_la_tabla WHERE condicion ORDER BY columna_ordenamiento [ASC|DESC];
```

Por ejemplo, supongamos que queremos obtener una lista de todos los empleados en la tabla empleados, ordenados por salario de forma ascendente. Podemos utilizar la siguiente consulta:

```sql
SELECT nombre, salario FROM empleados ORDER BY salario ASC;
```

Esta consulta devolverá una lista de todos los empleados en la tabla empleados, ordenados por salario de forma ascendente.

Es importante tener en cuenta que la cláusula ORDER BY debe ir al final de la consulta, después de la cláusula WHERE (si está presente). También es posible especificar múltiples columnas de ordenamiento en la cláusula ORDER BY.


### AVG

La función AVG en SQL se utiliza para calcular el promedio de los valores de una columna en una tabla. Es una función muy útil para obtener una idea de la distribución de los datos en una tabla. La sintaxis básica de la función AVG es la siguiente:

```sql
SELECT AVG(columna) FROM nombre_de_la_tabla WHERE condicion;
```

Por ejemplo, supongamos que queremos calcular el promedio del salario de los empleados en la tabla empleados que trabajan en el departamento de ventas. Podemos utilizar la siguiente consulta:

```sql
SELECT AVG(salario) FROM empleados WHERE departamento = 'ventas';
```

Esta consulta devolverá el promedio del salario de los empleados en el departamento de ventas.

Es importante tener en cuenta que la función AVG solo puede utilizarse en columnas numéricas.


### MIN

La función MIN en SQL se utiliza para encontrar el valor mínimo de una columna en una tabla. Es una función muy útil para obtener información sobre el valor mínimo en una tabla. La sintaxis básica de la función MIN es la siguiente:

```sql
SELECT MIN(columna) FROM nombre_de_la_tabla WHERE condicion;
```

Por ejemplo, supongamos que queremos encontrar el salario mínimo de los empleados en la tabla empleados que trabajan en el departamento de ventas. Podemos utilizar la siguiente consulta:

```sql
SELECT MIN(salario) FROM empleados WHERE departamento = 'ventas';
```

Esta consulta devolverá el salario mínimo de los empleados en el departamento de ventas.

Es importante tener en cuenta que la función MIN solo puede utilizarse en columnas numéricas.


### MAX

La función MAX en SQL se utiliza para encontrar el valor máximo de una columna en una tabla. Es una función muy útil para obtener información sobre el valor máximo en una tabla. La sintaxis básica de la función MAX es la siguiente:

```sql
SELECT MAX(columna) FROM nombre_de_la_tabla WHERE condicion;
```

Por ejemplo, supongamos que queremos encontrar el salario máximo de los empleados en la tabla empleados que trabajan en el departamento de ventas. Podemos utilizar la siguiente consulta:

```sql
SELECT MAX(salario) FROM empleados WHERE departamento = 'ventas';
```

Esta consulta devolverá el salario máximo de los empleados en el departamento de ventas.

Es importante tener en cuenta que la función MAX solo puede utilizarse en columnas numéricas.

Es posible utilizar las funciones AVG, MIN y MAX en combinación con la cláusula WHERE para obtener resultados específicos. Por ejemplo, podemos encontrar el salario promedio de los empleados que trabajan en el departamento de ventas y que tienen más de 5 años de experiencia utilizando la siguiente consulta:

```sql
SELECT AVG(salario) FROM empleados WHERE departamento = 'ventas' AND experiencia > 5;
```

Esta consulta devolverá el salario promedio de los empleados que trabajan en el departamento de ventas y que tienen más de 5 años de experiencia.

### COUNT

La cláusula COUNT en SQL se utiliza para contar el número de filas que cumplen con una determinada condición en una tabla. Es una cláusula muy útil para obtener información sobre la cantidad de registros que cumplen con ciertas características en una tabla. La sintaxis básica de la cláusula COUNT es la siguiente:

```sql
SELECT COUNT(*) FROM nombre_de_la_tabla WHERE condicion;
```

Por ejemplo, supongamos que queremos contar el número de empleados que trabajan en el departamento de ventas. Podemos utilizar la siguiente consulta:

```sql
SELECT COUNT(*) FROM empleados WHERE departamento = 'ventas';
```

Esta consulta devolverá la cantidad de empleados que trabajan en el departamento de ventas.

Es importante tener en cuenta que la cláusula COUNT puede utilizarse con cualquier columna de una tabla, pero si se desea contar solo las filas que contienen valores no nulos en una columna en particular, se debe especificar el nombre de la columna en lugar del asterisco (*). Por ejemplo, para contar el número de empleados que tienen un salario diferente de nulo, se puede utilizar la siguiente consulta:

```sql
SELECT COUNT(salario) FROM empleados;
```

Esta consulta devolverá la cantidad de empleados que tienen un valor no nulo en la columna salario.

La cláusula COUNT es muy útil para obtener información estadística sobre una tabla y para realizar análisis de datos.

### JOIN
La clausula JOIN en SQL se utiliza para combinar datos de dos o más tablas en una sola tabla. La combinación se realiza en función de una o más columnas que están relacionadas entre las tablas. La sintaxis básica de la clausula JOIN es la siguiente:

```sql
SELECT columna_1, columna_2, ... FROM nombre_tabla_1 JOIN nombre_tabla_2 ON nombre_tabla_1.columna_relacionada = nombre_tabla_2.columna_relacionada;
```

Por ejemplo, supongamos que tenemos dos tablas: "clientes" y "pedidos", y queremos combinar los datos de ambas tablas en una sola tabla para mostrar el nombre del cliente y la fecha del pedido. Podemos utilizar la siguiente sentencia JOIN:

```sql
SELECT clientes.nombre, pedidos.fecha 
FROM clientes 
JOIN pedidos 
ON clientes.id_cliente = pedidos.id_cliente;
```

Esta sentencia combina los datos de la tabla clientes y pedidos en una sola tabla basándose en la columna "id_cliente", que es común a ambas tablas. Luego selecciona las columnas "nombre" de la tabla clientes y "fecha" de la tabla pedidos para mostrar en la tabla resultante.

### GROUP BY
La cláusula GROUP BY se utiliza para agrupar los resultados de una consulta SQL por una o más columnas. Es muy útil para hacer cálculos agregados, como sumas, promedios, etc. La sintaxis básica de la cláusula GROUP BY es la siguiente:

```sql
SELECT columna_1, columna_2, ..., SUM(columna_suma), AVG(columna_promedio), ... FROM nombre_de_la_tabla WHERE condicion GROUP BY columna_agrupamiento;
```

Por ejemplo, supongamos que queremos obtener la cantidad de empleados en cada departamento de la tabla empleados. Podemos utilizar la siguiente consulta:

```sql
SELECT departamento, COUNT(*) FROM empleados GROUP BY departamento;
```

Esta consulta devolverá la cantidad de empleados en cada departamento de la tabla empleados.

### Ejemplos:

Vamos a realizar un ejemplo con estas cláusulas que hemos visto, vamos a generar dos tablas con datos aleatorios relacionados

In [17]:
import random

# Crea una conexión al servidor MySQL
cnx = mysql.connector.connect(user='freedb_sqlexampleuser', password='4NwkY%XmQz86ZZ#', host='sql.freedb.tech', database='freedb_sqlexampledb')

# Crea un cursor para ejecutar consultas
cursor = cnx.cursor()

# Crear tabla de empleados
cursor.execute("CREATE TABLE empleados (id INT AUTO_INCREMENT PRIMARY KEY, nombre VARCHAR(255),apellido VARCHAR(255), proyecto_id INT)")

# Crear tabla de proyectos
cursor.execute("CREATE TABLE proyectos (id INT AUTO_INCREMENT PRIMARY KEY, nombre VARCHAR(255), cliente VARCHAR(255))")

# Insertar datos aleatorios en la tabla de empleados
# Insertar datos aleatorios en la tabla de empleados
nombres = ["Juan", "Pedro", "Maria", "Ana", "Luis", "Carlos", "Laura", "Pablo", "Sofia", "Diego", "Marta", "Lucia", "Jose", "Alejandro", "Emma"]
apellidos = ["Garcia", "Rodriguez", "Lopez", "Fernandez", "Perez", "Gonzalez", "Sanchez", "Martinez", "Alvarez", "Romero", "Saez", "Vazquez", "Castro", "Jimenez", "Ruiz"]
proyectos = [1, 2, 3]
for i in range(15):
    nombre = random.choice(nombres)
    apellido = random.choice(apellidos)
    proyecto_id = random.choice(proyectos)
    sql = "INSERT INTO empleados (nombre, apellido, proyecto_id) VALUES (%s, %s, %s)"
    val = (nombre, apellido, proyecto_id)
    cursor.execute(sql, val)

cnx.commit()

# Insertar datos en la tabla de proyectos
proyectos = [("1", "Proyecto A", "Cliente A"), ("2", "Proyecto B", "Cliente B"), ("3", "Proyecto C", "Cliente C")]
for proyecto in proyectos:
    sql = "INSERT INTO proyectos (id, nombre, cliente) VALUES (%s, %s, %s)"
    val = proyecto
    cursor.execute(sql, val)

cnx.commit()

print("Datos insertados correctamente en las tablas")

Datos insertados correctamente en las tablas

In [18]:
# Crea una conexión al servidor MySQL
cnx = mysql.connector.connect(user='freedb_sqlexampleuser', password='4NwkY%XmQz86ZZ#', host='sql.freedb.tech', database='freedb_sqlexampledb')

# Crea un cursor para ejecutar consultas
cursor = cnx.cursor()

# Seleccionar todas las columnas y registros de la tabla empleados
cursor.execute("SELECT * FROM empleados")
resultados = cursor.fetchall()
for registro in resultados:
  print(registro)


# Seleccionar todas las columnas y registros de la tabla empleados
cursor.execute("SELECT * FROM proyectos")
resultados = cursor.fetchall()
for registro in resultados:
  print(registro)

(1, 'Jose', 'Alvarez', 3)
(2, 'Pedro', 'Perez', 3)
(3, 'Maria', 'Saez', 2)
(4, 'Sofia', 'Gonzalez', 2)
(5, 'Lucia', 'Garcia', 1)
(6, 'Carlos', 'Saez', 3)
(7, 'Lucia', 'Romero', 3)
(8, 'Luis', 'Fernandez', 1)
(9, 'Maria', 'Jimenez', 1)
(10, 'Alejandro', 'Vazquez', 3)
(11, 'Alejandro', 'Jimenez', 3)
(12, 'Laura', 'Castro', 2)
(13, 'Emma', 'Fernandez', 1)
(14, 'Alejandro', 'Sanchez', 3)
(15, 'Maria', 'Martinez', 1)
(1, 'Proyecto A', 'Cliente A')
(2, 'Proyecto B', 'Cliente B')
(3, 'Proyecto C', 'Cliente C')

Vamos a ver la lista de empleados, junto a el proyecto al que pertenecen

In [19]:
# Crea una conexión al servidor MySQL
cnx = mysql.connector.connect(user='freedb_sqlexampleuser', password='4NwkY%XmQz86ZZ#', host='sql.freedb.tech', database='freedb_sqlexampledb')

# Crea un cursor para ejecutar consultas
cursor = cnx.cursor()

# Ejecutar consulta
cursor.execute("SELECT e.nombre, e.apellido, p.nombre AS nombre_proyecto FROM empleados AS e JOIN proyectos AS p ON e.proyecto_id=p.id ORDER BY e.proyecto_id")

# Obtener resultados
results = cursor.fetchall()

# Imprimir resultados
for result in results:
    print(result)

('Lucia', 'Garcia', 'Proyecto A')
('Luis', 'Fernandez', 'Proyecto A')
('Maria', 'Jimenez', 'Proyecto A')
('Emma', 'Fernandez', 'Proyecto A')
('Maria', 'Martinez', 'Proyecto A')
('Maria', 'Saez', 'Proyecto B')
('Sofia', 'Gonzalez', 'Proyecto B')
('Laura', 'Castro', 'Proyecto B')
('Jose', 'Alvarez', 'Proyecto C')
('Pedro', 'Perez', 'Proyecto C')
('Carlos', 'Saez', 'Proyecto C')
('Lucia', 'Romero', 'Proyecto C')
('Alejandro', 'Vazquez', 'Proyecto C')
('Alejandro', 'Jimenez', 'Proyecto C')
('Alejandro', 'Sanchez', 'Proyecto C')

Vamos a ver la lista de proyectos, junto con el numero de empleados involucrado en cada proyecto:

In [20]:
# Crea una conexión al servidor MySQL
cnx = mysql.connector.connect(user='freedb_sqlexampleuser', password='4NwkY%XmQz86ZZ#', host='sql.freedb.tech', database='freedb_sqlexampledb')

# Crea un cursor para ejecutar consultas
cursor = cnx.cursor()

# Ejecutar consulta
cursor.execute("SELECT proyectos.nombre, COUNT(*) AS cantidad_empleados FROM proyectos JOIN empleados ON proyectos.id = empleados.proyecto_id GROUP BY proyectos.nombre ORDER BY proyectos.nombre ASC;")

# Obtener resultados
results = cursor.fetchall()

# Imprimir resultados
for result in results:
    print(result)

('Proyecto A', 5)
('Proyecto B', 3)
('Proyecto C', 7)

## No solo existe SQL

Hay muchas bases de datos que se pueden usar en Python, aparte de las bases de datos SQL. Aquí hay algunas opciones populares:

- MongoDB: es una base de datos NoSQL de documentos que se utiliza para almacenar datos no estructurados. Es muy escalable y permite crear réplicas muy rápidamente.

- Redis: es una base de datos en memoria que se utiliza para almacenar datos en forma de clave-valor. Es útil para almacenar datos en caché y para la gestión de sesiones.

- Cassandra: es una base de datos distribuida NoSQL que se utiliza para el almacenamiento de grandes cantidades de datos en múltiples servidores.

- Firebase: es una base de datos en tiempo real de Google que se utiliza para la gestión de datos de aplicaciones móviles y web.

- HBase: es una base de datos NoSQL de código abierto que se utiliza para el almacenamiento de grandes cantidades de datos en clústeres de servidores.

- Elasticsearch: es una base de datos de búsqueda distribuida que se utiliza para la búsqueda de texto completo y la análisis de datos.

- Neo4j: es una base de datos de grafos que se utiliza para el almacenamiento de datos en forma de nodos y relaciones.

Estas son solo algunas de las opciones disponibles. Cada una tiene sus propias características y casos de uso, por lo que es importante evaluar cuál se adapta mejor a sus necesidades específicas.